
<div class="row">
<div class="col-sm-12 col-lg-4">
                                 
    <div class="row shaa mr-1">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0 ">
            <img src="https://www.duracell.in/upload/sites/10/2016/06/get-the-most-from-list-2.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 trans">
            <div class="content" id="con1">
                <h3><a href="https://www.duracell.in/technology/get-the-most-from-duracell-batteries/">POWERCHECK™ – Get The Most From Duracell Batteries</a></h3>
                <p>
                    Your devices need reliable and lasting energy, so make sure you take full advantage of the power in your…                                                </p>
                <a href="https://www.duracell.in/technology/get-the-most-from-duracell-batteries/" target="_self">Learn more</a>                                            </div>
        </div>
    </div>

</div>
<div class="col-sm-12 col-lg-8">
    
        <div class="row shaa mb-4">
           
            <div class="col-md-6 trans" >
                <div class="content " >
                    <h3><a href="https://www.duracell.in/technology/technology-in-the-service-of-battery-power/">How Are Batteries Made?</a></h3>
                    <p>
                        Alkaline batteries have a long and rich history of powering various everyday devices. Chemical engineering…                                                </p>
                    <a  href="https://www.duracell.in/technology/technology-in-the-service-of-battery-power/" target="_self">Learn more</a>                                            </div>
            </div>
            <div class=" col-md-6 " style="padding-right:0px;">
                <img src="https://www.duracell.in/upload/sites/10/2016/06/get-the-most-from-list-2.jpg" class="img-fluid" alt="Responsive image">
            </div>
        </div>
   
        <div class="row shaa">
            <div class="col-md-6" style="padding-left:0px;">
                <img src="https://www.duracell.in/upload/sites/10/2016/06/get-the-most-from-list-2.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <div class="content" id="con2" >
                    <h3><a  href="https://www.duracell.in/technology/responsible-battery-use-care-and-disposal/">Responsible Battery Use, Care And Disposal</a></h3>
                    <p>
                        Find out how to get the best out of a Duracell battery and learn how to properly recycle them.                                                </p>
                    <a  href="https://www.duracell.in/technology/responsible-battery-use-care-and-disposal/" target="_self">Learn more</a>                                            </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">

        <div class="row shaa mr-1">
            <div class="col-sm-12 col-md-12 col-lg-12 p-0 ">
                <img src="https://www.duracell.in/upload/sites/10/2016/06/get-the-most-from-list-2.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 trans">
                <div class="content" id="con1">
                    <h3><a href="https://www.duracell.in/technology/get-the-most-from-duracell-batteries/">POWERCHECK™ – Get The Most From Duracell Batteries</a></h3>
                    <p>
                        Your devices need reliable and lasting energy, so make sure you take full advantage of the power in your…                                                </p>
                    <a href="https://www.duracell.in/technology/get-the-most-from-duracell-batteries/" target="_self">Learn more</a>                                            </div>
            </div>
        </div>
    
</div>
    <div class="col-sm-12 col-lg-8">
        
            <div class="row shaa mb-4">
               
                <div class="col-md-6 trans" >
                    <div class="content " >
                        <h3><a href="https://www.duracell.in/technology/technology-in-the-service-of-battery-power/">How Are Batteries Made?</a></h3>
                        <p>
                            Alkaline batteries have a long and rich history of powering various everyday devices. Chemical engineering…                                                </p>
                        <a  href="https://www.duracell.in/technology/technology-in-the-service-of-battery-power/" target="_self">Learn more</a>                                            </div>
                </div>
                <div class=" col-md-6 " style="padding-right:0px;">
                    <img src="https://www.duracell.in/upload/sites/10/2016/06/get-the-most-from-list-2.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
       
            <div class="row shaa">
                <div class="col-md-6" style="padding-left:0px;">
                    <img src="https://www.duracell.in/upload/sites/10/2016/06/get-the-most-from-list-2.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-6">
                    <div class="content" id="con2" >
                        <h3><a  href="https://www.duracell.in/technology/responsible-battery-use-care-and-disposal/">Responsible Battery Use, Care And Disposal</a></h3>
                        <p>
                            Find out how to get the best out of a Duracell battery and learn how to properly recycle them.                                                </p>
                        <a  href="https://www.duracell.in/technology/responsible-battery-use-care-and-disposal/" target="_self">Learn more</a>                                            </div>
                </div>
            </div>
        </div>
    </div>