
      <footer style="padding-top: 300px;">
          <div class="container-fluid">
          <hr >
        <div  class="d-flex flex-wrap align-content-center ">
          <div class="p-2 "><a  href="/prelogin/privacy">Privacy Policy |</a></div>
          <div class="p-2 "><a  href="/prelogin/terms-of-use">Terms of Use |</a></div>
          <div class="p-2 "><a  href="/prelogin/cancellation-refund-policy">Cancellation &amp; Refund |</a></div>
          <div class="p-2 "><a  href="/prelogin/contactus">Contact Us |</a></div>
          <div class="p-2 "><a  href="/prelogin/consultation-terms-and-conditions">Consultation Terms and Conditions</a></div>
        
          <div  class="copyright">
            © Copyright  2019
          </div>  
        </div> 
      </div>
      </footer>
    